<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.povodev.hemme.android" >

    <!-- PER PRENDERE L'IMEI NECESSARIO PER REGISTRARE I DISPOSITIVI -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- PER EFFETTUARE RICHIESTE AL SERVER -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.povodev.hemme.android.activity.Home_Activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.povodev.hemme.android.master_detail_flow.ClinicalFolderListActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.povodev.hemme.android.activity.Home_Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.povodev.hemme.android.activity.Home_Activity" />
        </activity>

        <activity
            android:name="com.povodev.hemme.android.master_detail_flow.ClinicalFolderDetailActivity"
            android:label="@string/title_clinicalevent_detail"
            android:parentActivityName="com.povodev.hemme.android.master_detail_flow.ClinicalFolderListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.povodev.hemme.android.ClinicalEventListActivity" />
        </activity>

        <activity
            android:name="com.povodev.hemme.android.activity.Login_Activity"
            android:parentActivityName="com.povodev.hemme.android.activity.Home_Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.povodev.hemme.android.activity.Home_Activity" />
        </activity>

        <activity
            android:name="com.povodev.hemme.android.activity.Registration_Activity"
            android:parentActivityName="com.povodev.hemme.android.activity.Home_Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.povodev.hemme.android.activity.Home_Activity" />
        </activity>

        <activity
            android:name="com.povodev.hemme.android.activity.New_ClinicaEvent"
            android:parentActivityName="com.povodev.hemme.android.activity.Home_Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.povodev.hemme.android.activity.Home_Activity" />
        </activity>

        <activity
            android:name="com.povodev.hemme.android.activity.New_Document"
            android:label="@string/title_activity_new__document" >
        </activity>
    </application>

</manifest>
